<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetognote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoGnote">
        <activity android:name=".ui.fragments.PerfilFragment"></activity>
        <activity android:name=".ui.fragments.MensalFragment" />
        <activity
            android:name=".ControleActivity"
            android:label="@string/title_activity_controle"
            android:theme="@style/Theme.ProjetoGnote.NoActionBar" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>